name: Converted Workflow
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  Build:
    runs-on: '${{ matrix.os }}'
    strategy:
      matrix:
        os:
          - ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - run: 'docker pull yshalsager/cyanogenmod:latest'
      - run: cd $HOME && mkdir twrp
      - run: >-
          wget -q
          https://github.com/PhantomZone54/twrp_sources_norepo/releases/download/v3.2.3-20180830/MinimalOmniRecovery-twrp-6.0-norepo-20180830.tar.xz
          -O $HOME/twrp.tar.xz
      - run: tar -xJf twrp.tar.xz --directory $HOME/twrp/ && rm twrp.tar.xz
      - run: >-
          cd $HOME/twrp/ && git clone
          https://github.com/marv-in-r/twrp_device_Medion_Lifetab_P850x.git
          device/MEDION/P850X
      - run: >-
          rm -rf bootable/recovery && git clone
          https://github.com/omnirom/android_bootable_recovery -b android-9.0
          --depth 1 bootable/recovery
      - run: >-
          git clone https://github.com/ZeoRexDevs/device_generic_mtk_twrpbuilder
          device/generic/twrpbuilder
      - run: >
          docker run --rm -i -e USER_ID=$(id -u) -e GROUP_ID=$(id -g) -v
          "$(pwd):/home/cmbuild/twrp/:rw,z" yshalsager/cyanogenmod bash << EOF

          cd /home/cmbuild/twrp/

          source build/envsetup.sh && lunch omni_P850X-eng && mka recoveryimage

          exit

          EOF
      - run: >-
          export version=$(cat bootable/recovery/variables.h | grep "define
          TW_MAIN_VERSION_STR" | cut -d '"' -f2)
      - run: >-
          cp $HOME/twrp/out/target/product/P850X/recovery.img
          $HOME/twrp/TWRP-$version-P850X-$(date +"%Y%m%d")-Unofficial.img
      - run: cd $HOME/twrp/
      - run: >-
          curl -s --upload-file TWRP-$version-P850X-$(date
          +"%Y%m%d")-Unofficial.img https://transfer.sh/ && echo ""

